<h1>Song List<h1>


<Table>
    <thead>
        <tr>
            <th> Title </th>
        </tr>
    </thead>
    <tbody>
    <% @songs.each do |song| %>
        <tr>
            <td> Title:<%=link_to song.title, song_path(song.id)%></td>
        </tr>
    <%end%>
    </tbody>
</Table>


<%= link_to "New Song", :new_song%>